.App {
  text-align: center;
  min-height: 100vh;
  background-color: cadetblue;
}
.header {
  font-size: 40px;
  padding-top: 30px;
  color: beige;
  font-weight: 800;
  margin-bottom: 50px;
}
.squareBox {
  padding: 26px;
  display: table-cell;
  border: 2px solid antiquewhite;
  font-size: 34px;
  font-weight: 800;
  width: 7vw;
  height: 7vh;
}
.clearbtn {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  padding: 2px 11px;
  background-color: darkkhaki;
  color: darkgreen;
  border: 2px solid darkgreen;
}
.squareBoxes {
  display: grid;
  justify-items: center;
}
